
  <div ng-controller="PendingController" data-ng-init="getAllPendings()">
              <center><h1>Pending List</h1></center>
           <div ng-show="apierror">
         <center><font color="red"><h1>{{apierror}}</h1></font></center>
        </div>     
              <div>
  				<table class="table table-striped table-bordered"><thead><tr><th>OrderId</th><th>QtyOrdered</th><th>QtyAvailable</th><th>SKU</th><th>Item Details</th><th>FC ID</th><th>Actions</th></tr></thead>
  				<tr ng-repeat="pending in currentPendings"><td>{{pending.order_id}}</td><td>{{pending.ordered_qty}}</td><td>{{pending.available_qty}}</td><td>{{pending.item_details.item_code}}</td><td>{{pending.item_details.item_name}}</td><td>{{pending.fc}}</td><td>
          <a class="btn btn-info glyphicon glyphicon-pencil"   ng-click="openedit(pending)">Edit</button>
  				<a class="btn btn-danger"  onClick="return false" ng-click="deletePending(pending._id,$event)">
          <span class = " glyphicon glyphicon-remove"></span>Delete</a>
  				
  				</td></tr>
          <div>
  <button type="button" class = "pull-right btn btn-primary glyphicon glyphicon-search"  ng-click="search()">Search</button>

  <input type="text" class = "pull-right search" ng-model="pendingsearch" placeholder="Search..." >
   
  </div>
              <div><button type = "button" class = "btn btn-primary pull-left glyphicon glyphicon-plus"  ng-click="open()">Add Pending</button></div>
              </table>

              </div>
              <div>

       <center><pagination total-items="totalPendings" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="pendingsPerPage"></pagination></center>
    <pre>Page: {{currentPage}} / {{numPages}}</pre>
 
  </div>
</div>





