
  <div ng-controller="ViewController" data-ng-init="getAllViews()">
              <center><h1>View List</h1></center>
               <div cg-busy="{promise:angubusy,message:'Loading Your Data',delay:300,minDuration:700}"></div>
            <div ng-show="apierror">
         <center><font color="red"><h1>{{apierror}}</h1></font></center>
        </div>   
  	 <div>
  				<table class="table table-striped table-bordered"><thead><tr><th>Id</th><th>Name</th><th>Path</th><th>Actions</th></tr></thead>
  				<tr ng-repeat="view in viewList"><td>{{view.id}}</td><td>{{view.name}}</td><td>{{view.path}}</td><td>
  				<a class="btn btn-info glyphicon glyphicon-pencil"  ng-click="openedit(view)">Edit</a>
          <a class="btn btn-danger" onClick="return false" ng-click="deleteSupplier(view._id,$event)">
          <span class = " glyphicon glyphicon-remove"></span>Delete</a>
  				</td></tr>

              </div>

      
  <div>
  <button type="button" class = "pull-right btn btn-primary glyphicon glyphicon-search"  ng-click="search()">Search</button>

  <input type="text" class = "pull-right search" ng-model="viewsearch" placeholder="Search..." >
   
  </div>
  <div>
  <button type = "button" class = "btn btn-primary pull-left glyphicon glyphicon-plus"  ng-click="open()">Add View</button></div>
              
  </div>

